<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 指定别名的包名 -->
    <typeAliases>
        <package name="com.nianxi.entity"/>
    </typeAliases>
    <!-- 指定映射文件的位置 -->
    <mappers>
        <package name="com.nianxi.mapper"/>
    </mappers>
</configuration>